*{

    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{

    font-family:'Poppins',sans-serif;

    background:#f5f5f5;

}

/* MAIN CONTAINER */

.forgot-container{

    width:100%;

    min-height:100vh;

    display:flex;

}

/* LEFT SIDE */

.forgot-left{

    width:40%;

    background:linear-gradient(
        135deg,
        #e60000,
        #1e5eff
    );

    color:white;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    padding:40px;

}

.logo-box{

    background:white;

    padding:12px;

    border-radius:15px;

    margin-bottom:20px;

}

.logo{

    width:150px;

    height:150px;

    object-fit:contain;

}

.forgot-left h1{

    font-size:32px;

    margin-bottom:10px;

}

.forgot-left p{

    opacity:.9;

}

/* RIGHT SIDE */

.forgot-right{

    width:60%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    padding:60px;

    background:white;

}

.forgot-right h2{

    color:#e60000;

    font-size:30px;

    margin-bottom:8px;

}

.sub{

    color:gray;

    margin-bottom:25px;

}

.forgot-right input{

    width:100%;

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

    margin-bottom:20px;

    outline:none;

    transition:.3s;

}

.forgot-right input:focus{

    border-color:#1e5eff;

    box-shadow:
    0 0 8px
    rgba(30,94,255,.2);

}

.forgot-right button{

    width:100%;

    padding:14px;

    border:none;

    border-radius:10px;

    background:
    linear-gradient(
        135deg,
        #e60000,
        #1e5eff
    );

    color:white;

    font-size:15px;

    cursor:pointer;

    transition:.3s;

}

.forgot-right button:hover{

    transform:translateY(-2px);

}

.back{

    margin-top:25px;

    text-align:center;

}

.back a{

    text-decoration:none;

    color:#1e5eff;

}

.back a:hover{

    color:#e60000;

}

/* MOBILE */

@media(max-width:768px){

.forgot-container{

    flex-direction:column;

}

.forgot-left,
.forgot-right{

    width:100%;

}

.forgot-right{

    padding:40px 25px;

}

}