<footer class="footer">

    <div class="footer-content">

        <h2>MeroPasal</h2>

        <p class="footer-text">
            Nepal’s Own Online Store.
        </p>

        <p class="footer-tagline">
            • Fast Delivery • Secure Payment • Quality Products
        </p>

        <!-- SOCIAL LINKS -->
        <div class="social-icons">

            <a href="#">Facebook</a>
            <a href="#">Instagram</a>
            <a href="#">TikTok</a>

        </div>

    </div>

    <!-- COPYRIGHT -->
    <div class="footer-bottom">

        <p>© 2026 MeroPasal. All Rights Reserved.</p>

    </div>

</footer>