{% extends 'base.html' %}

{% block title %}All Categories{% endblock %}

{% block style %}
<link rel="stylesheet"
href="{{ url_for('static',
filename='css/all_categories.css') }}">
{% endblock %}

{% block content %}

<section class="categories-page">

    <h1>All Categories</h1>

    <!-- SEARCH -->
    <div class="category-search">

        <form method="GET">

            <input type="text"
                   name="search"
                   placeholder="Search categories...">

            <button type="submit">
                Search
            </button>

        </form>

    </div>

    <!-- CATEGORY GRID -->
    <div class="categories-grid">

        {% for category in categories %}

        <a href="{{ url_for('auth.single_category',
        category=category.name) }}"
        class="category-card">

            <img src="{{ url_for('static',
            filename=category.image) }}">

            <h2>
                {{ category.name.title() }}
            </h2>

            <div class="sample-products">

                {% for product in category.products %}

                    <span>{{ product }}</span>

                {% endfor %}

            </div>

        </a>

        {% endfor %}

    </div>

</section>

{% endblock %}