<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home - MeroPasal</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>

  <!-- NAVBAR -->
  <nav class="navbar">
    <div class="nav-logo">
  🛒 <span class="logo-red">Mero</span><span class="logo-blue">Pasal</span>
    </div>
    <div class="nav-links">
      <a href="index.html" class="active">Home</a>
      <a  href="/login">Login</a>
    </div>
  </nav>

  <!-- HOME CONTENT -->
  <div class="home-container">
    <div class="home-card">
      <h1 class="home-title">Welcome to <span class="logo-red">Mero</span><span style="color:#1d3557">Pasal</span></h1>
      <p class="home-subtitle">मेरो पसल — Your Shop. Your Way.</p>
      <p class="home-desc">A Single Vendor E-Commerce Platform built with love in Nepal.</p>
      <a href="login.html" class="btn-edit">Login to Your Account</a>
    </div>
  </div>
</script>

  <!-- FOOTER -->
  <footer class="footer">
    <p>❤️ Built with love in Nepal &nbsp;|&nbsp; 🇳🇵 Proudly Nepali</p>
    <p style="font-size:12px; margin-top:5px;">© 2025 MeroPasal. All rights reserved.</p>
  </footer>

</body>
</html>
