<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Register - MeroPasal</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/regist.css') }}">
    <link rel="stylesheet"
    href="{{ url_for('static', filename='css/fla.css') }}">

</head>

<body>
    {% include "includes/flash_message.html" %}

<div class="register-wrapper">

    <!-- LEFT SIDE -->

    <div class="left-panel">

        <img src="{{ url_for(
        'static',
        filename='images/logo.png'
        ) }}" class="logo">

        <h1>MeroPasal</h1>

        <p>

            Create your account and start shopping

        </p>

    </div>

    <!-- RIGHT SIDE -->

    <div class="right-panel">

        <form method="POST"
        class="register-form">

            <h2>

                Create Account

            </h2>

            <input type="text"
            name="name"
            placeholder="Full Name"
            required>

            <input type="email"
            name="email"
            placeholder="Email"
            required>

            <input type="password"
            name="password"
            placeholder="Password (min 6 chars)"
            required>

            <button type="submit">

                Register

            </button>

            <div class="login-link">

                Already have an account?

                <a href="{{ url_for(
                'authroutes.login'
                ) }}">

                    Login

                </a>

            </div>

        </form>

    </div>

</div>

</body>

</html>