<!DOCTYPE html>

<html>

<head>

<meta charset="UTF-8">

<title>Reset Password</title>

<link rel="stylesheet"
href="{{ url_for('static',
filename='css/reset_pass.css') }}">

</head>

<body>

<div class="reset-container">

    <!-- LEFT -->

    <div class="reset-left">

        <div class="logo-box">

            <img
            src="{{ url_for('static',
            filename='images/logo.png') }}"
            class="logo">

        </div>

        <h1>MeroPasal</h1>

        <p>

            Create your new password

        </p>

    </div>


    <!-- RIGHT -->

    <div class="reset-right">

        <h2>Reset Password</h2>

        <p class="sub">

            Enter your new password

        </p>

        <form method="POST">

            <input
            type="password"
            name="password"
            placeholder="New Password"
            required>

            <input
            type="password"
            name="confirm_password"
            placeholder="Confirm Password"
            required>

            <button type="submit">

                Update Password

            </button>

        </form>


        <div class="back">

            <a href="{{ url_for('authroutes.login') }}">

                ← Back To Login

            </a>

        </div>

    </div>

</div>

</body>

</html>